.inputWrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  box-shadow: 0px 2px 11px 7px rgb(0 0 0 / 19%);
  width: 30rem;
}

#root {
  display: flex;
  justify-content: center;
}
